absl-py==2.1.0
accelerate==1.1.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anthropic==0.42.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
asyncer==0.0.8
attrs==23.2.0
autogen==0.6.0
beautifulsoup4==4.12.3
bidict==0.23.1
black==24.3.0
blinker==1.9.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
code-mcp @ git+https://github.com/54yyyu/code-mcp.git@3a3153a5999f04e55d41ac010148d2fb2157225f
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
dashscope==1.20.14
dataclasses-json==0.6.4
datasets==3.1.0
debugpy==1.8.6
decorator==5.1.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
evalplus==0.3.1
executing==2.1.0
faiss-cpu==1.9.0
fastapi==0.115.5
filelock==3.16.1
fire==0.7.0
FLAML==2.3.3
Flask==3.1.0
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.5.4
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.26.2
idna==3.6
imageio==2.36.0
ipykernel==6.29.5
ipython==8.27.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.6.0
kiwisolver==1.4.5
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.3.28
langchain-openai==0.2.14
langchain-text-splitters==0.0.1
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.48
langsmith==0.2.4
lazy_loader==0.4
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mcp==1.4.1
mdurl==0.1.2
medmnist==3.0.2
ml-dtypes==0.4.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.28.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.58.1
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.12
packaging==24.1
pandas==2.2.1
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
peft==0.13.2
pexpect==4.9.0
pillow==10.3.0
pinecone-client==3.2.2
platformdirs==4.3.6
plotly==6.0.0
prompt==0.4.1
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==5.29.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyautogen==0.6.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.8.1b0
pydot==2.0.0
Pygments==2.18.0
pymongo==4.10.1
pyparsing==3.1.2
pypdf==4.1.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-socketio==5.11.4
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.34.0
regex==2023.12.25
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rouge_score==0.1.2
rpds-py==0.18.0
rsa==4.9
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.29
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
stop-sequencer==1.2.3
streamlit==1.33.0
sympy==1.13.1
tempdir==0.7.1
tenacity==8.2.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-macos==2.15.0
termcolor==2.4.0
tf_keras==2.18.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
tokenizers==0.20.3
toml==0.10.2
toolz==0.12.1
torch==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.2
tree-sitter==0.23.2
tree-sitter-python==0.23.6
typer==0.15.2
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ucimlrepo==0.0.7
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.34.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
wget==3.2
wrapt==1.14.1
wsproto==1.2.0
xxhash==3.5.0
yarl==1.9.4
